{% extends 'base2.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div style="margin-top:40px">
</div>
<link href="static/assets/css/style.css" rel="stylesheet">
<main id="main">
    <button type="button" onclick="history.back()" style="display: none; color:white" id="back-btn"></button>
    <a href="#" style="color:white"><img src="static/assets/img/Icon.png" onclick="document.getElementById('back-btn').click()"  alt="Back"/>Back</a>
    <!-- Form Name -->
    <div class="container" style="background-color: rgba(245, 245, 248, 0.7); padding:10px; height: auto">
        <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
            <div class="row mb-1" style="padding-top:5px">
                <center><h2 style="color:Black; font-size:17px">Sector(As per Article 2(17) of SFDR): <b>Land</b></h2></center>
            </div>
        </div>
        <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
            <div  style="padding:2px">
                <h4><strong  style="color:Black; margin-left:80px; font-size:18px">Question</strong><strong  style="color:Black; margin-left:250px; font-size:18px">Yes | No | N/A</strong><strong  style="color:Black; margin-left:150px; font-size:18px">Comments</strong><strong  style="color:Black; margin-left:170px; font-size:18px">Exception</strong></h4>
            </div>
        </div>
        <form method="POST" class="form-horizontal" action="environment1_4">
            {% csrf_token %}
            <div class="form-group" style="padding-top:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Is the Investee  company directly/indirectly involved in land clearance / deforestation activities?</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="land_clearance" name="land_clearance" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="comment4.1" placeholder="Comments / Risks / Opportunities identified" name="comment4_1"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="exception4.1" placeholder="Exceptions if any" name="exception4_1"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the Investee company have any set policies/strategies/goals/responsibilities for handling the Land clearance/deforestation impacts?</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="set_policies_land_clearance" name="set_policies_land_clearance" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="comment4.2" placeholder="Comments / Risks / Opportunities identified" name="comment4_2"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="exception4.2" placeholder="Exceptions if any" name="exception4_2"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">If yes,is the Investee company evaluating negative impact on local communities, flora and fauna as a result of its land clearance/deforestation activities and providing outcome of its evaluation exercise?</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="result_land_clearance" name="result_land_clearance" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="comment4.3" placeholder="Comments / Risks / Opportunities identified" name="comment4_3"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="exception4.3" placeholder="Exceptions if any" name="exception4_3"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">If yes, whether it is using methods/processes to negate the impact on environment (such as planting trees as per local laws and regulations or using recyclable materials in its production process)?</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="impact_environment" name="impact_environment" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="comment4.4" placeholder="Comments / Risks / Opportunities identified" name="comment4_4"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="exception4.4" placeholder="Exceptions if any" name="exception4_4"></textarea>
                    </div>
                </div>
            </div>

            <div style="margin-bottom:4px">
                <button class="btn btn-primary" type="reset" style="margin-left:950px">Reset</button><a href="#"><button style="margin-left:20px" type="submit" class="btn btn-primary">Next</button></a>
            </div>
            <!--            </div>-->
        </form>
    </div>
    </div>
</main>
<!-- End #main -->
{% endblock %}

</body>

</html>