{% extends 'base2.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div style="margin-top:40px">
</div>
<link href="static/assets/css/style.css" rel="stylesheet">
<main id="main">
    <button type="button" onclick="history.back()" style="display: none; color:white" id="back-btn"></button>
    <a href="#" style="color:white"><img src="static/assets/img/Icon.png" onclick="document.getElementById('back-btn').click()"  alt="Back"/>Back</a>
    <!-- Form Name -->
    <div class="container" style="background-color: rgba(245, 245, 248, 0.7); padding:10px; height: auto">
        <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
            <div class="row mb-1" style="padding-top:5px">
                <center><h2 style="color:Black; font-size:17px">Sector(As per Article 2(17) of SFDR): <b>Environment (Others) - Environmental Compliance</b></h2></center>
            </div>
        </div>
        <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
            <div  style="padding:2px">
                <h4><strong  style="color:Black; margin-left:80px; font-size:18px">Question</strong><strong  style="color:Black; margin-left:240px; font-size:18px">Yes | No | N/A*</strong><strong  style="color:Black; margin-left:140px; font-size:18px">Comments</strong><strong  style="color:Black; margin-left:170px; font-size:18px">Exception</strong></h4>
            </div>
        </div>
        <form method="POST" class="form-horizontal" action="environment1_9">
            {% csrf_token %}
            <div class="form-group" style="padding-top:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Is the Investee  company  in compliance with the local laws and regulations ?</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="local_laws_regulations" name="local_laws_regulations" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="comment9.1" placeholder="Comments / Risks / Opportunities identified" name="comment9_1"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="exception9.1" placeholder="Exceptions if any" name="exception9_1"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">If yes, has the Investee  company obtained all necessary permits, licenses from the concerned local authorities for its operations ?</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="licenses_concerned_local_authorities" name="licenses_concerned_local_authorities" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="comment9.2" placeholder="Comments / Risks / Opportunities identified" name="comment9_2"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="exception9.2" placeholder="Exceptions if any" name="exception9_2"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the Investee  company consider Principle Adverse Impacts of its operations on environment and undertaken mitigation measures?</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="principle_adverse_impacts" name="principle_adverse_impacts" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="comment9.3" placeholder="Comments / Risks / Opportunities identified" name="comment9_3"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="exception9.3" placeholder="Exceptions if any" name="exception9_3"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the Investee  company maintain records of any serious incidents of negative impact of its operations on environment during the last 5 years and its consequential action faced ?</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="consequential_action" name="consequential_action" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="comment9.4" placeholder="Comments / Risks / Opportunities identified" name="comment9_4"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="exception9.4" placeholder="Exceptions if any" name="exception9_4"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">If yes, whether the Investee company was subjected to significant fines and non-monetary sanctions for non-compliance with environmental laws and/or regulations ?</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="non_compliance_environmental_laws" name="non_compliance_environmental_laws" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="comment9.5" placeholder="Comments / Risks / Opportunities identified" name="comment9_5"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="exception9.5" placeholder="Exceptions if any" name="exception9_5"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the Investee company take corrective measures and evaluate and document its consequent positive environmental impact?</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="consequent_positive_environmental_impact" name="consequent_positive_environmental_impact" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="comment9.6" placeholder="Comments / Risks / Opportunities identified" name="comment9_6"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="exception9.6" placeholder="Exceptions if any" name="exception9_6"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the Investee  company monitor risks and opportunities for its business operations on a continual basis and implements appropriate action plan?</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="monitor_risks_opportunities" name="monitor_risks_opportunities" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="comment9.7" placeholder="Comments / Risks / Opportunities identified" name="comment9_7"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="exception9.7" placeholder="Exceptions if any" name="exception9_7"></textarea>
                    </div>
                </div>
            </div>

            <div style="margin-bottom:4px">
                <button class="btn btn-primary" type="reset" style="margin-left:950px">Reset</button><a href="#"><button style="margin-left:20px" type="submit" class="btn btn-primary">Next</button></a>
            </div>
            <!--            </div>-->
        </form>
    </div>
    </div>
</main>
<!-- End #main -->
{% endblock %}

</body>

</html>