{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div style="margin-top:40px">
</div>
<link href="static/assets/css/style.css" rel="stylesheet">
<main id="main">
  <button type="button" onclick="history.back()" style="display: none;" id="back-btn"></button>
  <a href="#" style="color:white"><img src="static/assets/img/Icon.png" onclick="document.getElementById('back-btn').click()" alt="Back"/>Back</a>
  <center><h2 style="color:black;"><b>Final Scoring - Self Assessment</b></h2></center>
  <!-- Form Name -->
  <div class="container" style="background-color: rgba(245, 245, 248, 0.7); padding:10px; height: auto">
    <!--        <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">-->
    <!--          <div class="row mb-1" style="padding:5px">-->
    <!--            <h4 style="color:black; margin-left:20px"><b>Final scoring - Self Assessment</b><h style="font-size: 18px; margin-left:200px">Score(0:Unsatisfactory,1:Needs improvement, 2:Good, 3:Very Good, 4:Excellent) </h></h4>-->
    <!--          </div>-->
    <!--        </div>-->

    <div class="container text-white; rounded">
      <table class="table table-bordered" style="margin-bottom: 10px; border: 1px solid black">
        <tbody>
        <tr>
          <th scope="row" class="table-active">ESG Disclosures</th>
          <th scope="row" class="table-active">Score</th>
          <th scope="row" class="table-active">Comments / Recommendations</th>
          <th scope="row" class="table-active">Total Score</th>
          <th scope="row" class="table-active">Avg Score</th>
        </tr>
        <tr>
          <td>Requirements and Recommendations</td>
          <td style="vertical-align: middle;" align="center">{{f1}}</td>
          <td >{{comment1}}</td>
          <td rowspan="18" style="vertical-align: middle;" align="center">{{total_score}}</td>
          <td rowspan="18" style="vertical-align: middle;" align="center">{{avg_score}}</td>
        </tr>
        <tr>
          <td>Requirements- General</td>
          <td style="vertical-align: middle;" align="center">{{f2}}</td>
          <td >{{comment2}}</td>
        </tr>
        <tr>
          <td>Requirements- Sources and Types</td>
          <td style="vertical-align: middle;" align="center">{{f3}}</td>
          <td >{{comment3}}</td>
        </tr>
        <tr>
          <td>Requirements- Systematic Consideration of Financially Material Information</td>
          <td style="vertical-align: middle;" align="center">{{f4}}</td>
          <td >{{comment4}}</td>
        </tr>
        <tr>
          <td>Requirements- ESG Investment Universe</td>
          <td style="vertical-align: middle;" align="center">{{f5}}</td>
          <td >{{comment5}}</td>
        </tr>
        <tr>
          <td>Requirements- Screening</td>
          <td style="vertical-align: middle;" align="center">{{f6}}</td>
          <td >{{comment6}}</td>
        </tr>
        <tr>
          <td>Requirements- Portfolio-Level ESG Characteristics</td>
          <td style="vertical-align: middle;" align="center">{{f7}}</td>
          <td >{{comment7}}</td>
        </tr>
        <tr>
          <td>Requirements- Portfolio-Level Allocation Targets</td>
          <td style="vertical-align: middle;" align="center">{{f8}}</td>
          <td >{{comment8}}</td>
        </tr>
        <tr>
          <td>Requirements- Portfolio-Stewardship Activities</td>
          <td style="vertical-align: middle;" align="center">{{f9}}</td>
          <td >{{comment9}}</td>
        </tr>
        <tr>
          <td>Requirements- Environmental and Social Impact Objectives and Recommendations</td>
          <td style="vertical-align: middle;" align="center">{{f10}}</td>
          <td >{{comment10}}</td>
        </tr>
        <tr>
          <td>Organisational Requirements</td>
          <td style="vertical-align: middle;" align="center">{{f11}}</td>
          <td >{{comment11}}</td>
        </tr>
        <tr>
          <td>Risk Management</td>
          <td style="vertical-align: middle;" align="center">{{f12}}</td>
          <td >{{comment12}}</td>
        </tr>
        <tr>
          <td>Conflicts of Interest</td>
          <td style="vertical-align: middle;" align="center">{{f13}}</td>
          <td >{{comment13}}</td>
        </tr>
        <tr>
          <td>Product Governance</td>
          <td style="vertical-align: middle;" align="center">{{f14}}</td>
          <td>{{comment14}}</td>
        </tr>
        <tr>
          <td>Costs involved</td>
          <td style="vertical-align: middle;" align="center">{{f15}}</td>
          <td >{{comment15}}</td>
        </tr>
        <tr>
          <td>Information to be provided to the client</td>
          <td style="vertical-align: middle;" align="center">{{f16}}</td>
          <td>{{comment16}}</td>
        </tr>
        <tr>
          <td>Information to be gathered from the client</td>
          <td style="vertical-align: middle;" align="center">{{f17}}</td>
          <td>{{comment17}}</td>
        </tr>
        <tr>
          <td>Capture sustainability preferences</td>
          <td style="vertical-align: middle;" align="center">{{f18}}</td>
          <td>{{comment18}}</td>
        </tr>
        </tbody>
      </table>
      <center><h2 style="color:black;"><b>Interpretation of Average Score -Self-assessment -Investment Firms</b></h2></center>
      <table class="table table-bordered" style="margin-bottom: 10px; border: 1px solid black">
        <tbody>
        <tr>
          <th scope="row" class="table-active">Average Score</th>
          <th scope="row" class="table-active">Interpretation</th>
          <th scope="row" class="table-active">Recommendation</th>
        </tr>
        <tr>
          <td style="vertical-align: middle;" align="center">0</td>
          <td>The investment management firm is not considering sustainability into its internal systems, policies and procedures</td>
          <td>Needs immediate action </td>
        </tr>
        <tr>
          <td style="vertical-align: middle;" align="center">1</td>
          <td>The investment management firm has identified various areas to integrate sustainability factors into its internal systems, policies and procedures</td>
          <td>Needs improvement</td>
        </tr>
        <tr>
          <td style="vertical-align: middle;" align="center">2</td>
          <td>The investment management firm has started the process of integrating sustainability factors into its strategies, internal systems, policies and procedures</td>
          <td>Good compliance</td>
        </tr>
        <tr>
          <td style="vertical-align: middle;" align="center">3</td>
          <td>The investment management firm has fully integrated sustainability factors into its strategies, internal systems, policies and procedures</td>
          <td>Great compliance</td>
        </tr>
        <tr>
          <td style="vertical-align: middle;" align="center">4</td>
          <td>The investment management firm has not only fully integrated sustainability factors into its strategies, internal systems,  policies and procedures across the organisation's value chain, but also has evolved its own policies and procedures for tackling sustainability related issues. The ESG non-compliance risk is minimal.</td>
          <td>Outstanding compliance</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
  </div>
</main>
<!-- End #main -->
{% endblock %}

</body>

</html>