{% extends 'base2.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div style="margin-top:40px">
</div>
<link href="static/assets/css/style.css" rel="stylesheet">
<main id="main">

  <button type="button" onclick="history.back()" style="display: none;" id="back-btn"></button>
  <a href="#" style="color:white"><img src="static/assets/img/Icon.png" onclick="document.getElementById('back-btn').click()" alt="Back"/>Back</a>
  <center><h2 style="color:black;"><b>Final Score - {{company_name}}</b></h2></center>


  <!-- Form Name -->
  <div class="container" style="background-color: rgba(245, 245, 248, 0.7); padding:10px; height: auto">
    <div class="container text-white; rounded">

      <table class="table table-bordered" style="margin-bottom: 10px; border: 1px solid black">
        <tbody>
        <tr>
          <th scope="row" class="table-active">Scoring Metric : Environment</th>
          <th scope="row" class="table-active">Score</th>
          <th scope="row" class="table-active">Comments / Recommendations</th>
          <th scope="row" class="table-active">Total Score</th>
          <th scope="row" class="table-active">Avg Score</th>
        </tr>
        <tr>
          <td>Energy and Renewable Energy</td>
          <td style="vertical-align: middle;" align="center">{{e2_1}}</td>
          <td >{{comment1}}</td>
          <td rowspan="11" style="vertical-align: middle;" align="center">{{total_score}}</td>
          <td rowspan="11" style="vertical-align: middle;" align="center">{{avg_score}}</td>
        </tr>
        <tr>
          <td>Raw materials</td>
          <td style="vertical-align: middle;" align="center">{{e2_2}}</td>
          <td >{{comment2}}</td>
        </tr>
        <tr>
          <td>Water</td>
          <td style="vertical-align: middle;" align="center">{{e2_3}}</td>
          <td >{{comment3}}</td>
        </tr>
        <tr>
          <td>Land</td>
          <td style="vertical-align: middle;" align="center">{{e2_4}}</td>
          <td >{{comment4}}</td>
        </tr>
        <tr>
          <td>Waste</td>
          <td style="vertical-align: middle;" align="center">{{e2_5}}</td>
          <td >{{comment5}}</td>
        </tr>
        <tr>
          <td>Greenhouse Gas Emissions</td>
          <td style="vertical-align: middle;" align="center">{{e2_6}}</td>
          <td >{{comment6}}</td>
        </tr>
        <tr>
          <td>Biodiversity</td>
          <td style="vertical-align: middle;" align="center">{{e2_7}}</td>
          <td >{{comment7}}</td>
        </tr>
        <tr>
          <td>Circular economy</td>
          <td style="vertical-align: middle;" align="center">{{e2_8}}</td>
          <td >{{comment8}}</td>
        </tr>
        <tr>
          <td>Environment (Others) : Environmental compliance</td>
          <td style="vertical-align: middle;" align="center">{{e2_9}}</td>
          <td >{{comment9}}</td>
        </tr>
        <tr>
          <td>Supply Chain Management</td>
          <td style="vertical-align: middle;" align="center">{{e2_10}}</td>
          <td >{{comment10}}</td>
        </tr>
        </tbody>
      </table>
      <table class="table table-bordered" style="margin-bottom: 10px; border: 1px solid black">
        <tbody>
        <tr>
          <th scope="row" class="table-active">Scoring Metric : Social</th>
          <th scope="row" class="table-active">Score</th>
          <th scope="row" class="table-active">Comments / Recommendations</th>
          <th scope="row" class="table-active">Total Score</th>
          <th scope="row" class="table-active">Avg Score</th>
        </tr>
        <tr>
          <td>Inequality</td>
          <td style="vertical-align: middle;" align="center">{{s1_1}}</td>
          <td >{{s_comment1}}</td>
          <td rowspan="7" style="vertical-align: middle;" align="center">{{s_total_score}}</td>
          <td rowspan="7" style="vertical-align: middle;" align="center">{{s_avg_score}}</td>
        </tr>
        <tr>
          <td>Social cohesion</td>
          <td style="vertical-align: middle;" align="center">{{s1_2}}</td>
          <td >{{s_comment2}}</td>
        </tr>
        <tr>
          <td>Social integration</td>
          <td style="vertical-align: middle;" align="center">{{s1_3}}</td>
          <td >{{s_comment3}}</td>
        </tr>
        <tr>
          <td>Labour relations</td>
          <td style="vertical-align: middle;" align="center">{{s1_4}}</td>
          <td >{{s_comment4}}</td>
        </tr>
        <tr>
          <td>Investment in human capital</td>
          <td style="vertical-align: middle;" align="center">{{s1_5}}</td>
          <td >{{s_comment5}}</td>
        </tr>
        <tr>
          <td>Economically or socially disadvantaged communities</td>
          <td style="vertical-align: middle;" align="center">{{s1_6}}</td>
          <td >{{s_comment6}}</td>
        </tr>
        <tr>
          <td>Others - Supply chain management</td>
          <td style="vertical-align: middle;" align="center">{{s1_7}}</td>
          <td >{{s_comment7}}</td>
        </tr>
        </tbody>
      </table>
      <table class="table table-bordered" style="margin-bottom: 10px; border: 1px solid black">
        <tbody>
        <tr>
          <th scope="row" class="table-active">Scoring Metric : Governance</th>
          <th scope="row" class="table-active">Score</th>
          <th scope="row" class="table-active">Comments / Recommendations</th>
          <th scope="row" class="table-active">Total Score</th>
          <th scope="row" class="table-active">Avg Score</th>
        </tr>
        <tr>
          <td>Employee Relations</td>
          <td style="vertical-align: middle;" align="center">{{g1_1}}</td>
          <td >{{g_comment1}}</td>
          <td rowspan="6" style="vertical-align: middle;" align="center">{{g_total_score}}</td>
          <td rowspan="6" style="vertical-align: middle;" align="center">{{g_avg_score}}</td>
        </tr>
        <tr>
          <td>Sound Management Structures</td>
          <td style="vertical-align: middle;" align="center">{{g1_2}}</td>
          <td >{{g_comment2}}</td>
        </tr>
        <tr>
          <td>Remuneration of Staff</td>
          <td style="vertical-align: middle;" align="center">{{g1_3}}</td>
          <td >{{g_comment3}}</td>
        </tr>
        <tr>
          <td>Tax Compliance</td>
          <td style="vertical-align: middle;" align="center">{{g1_4}}</td>
          <td >{{g_comment4}}</td>
        </tr>
        <tr>
          <td>Commitment to Good Corporate Governance</td>
          <td style="vertical-align: middle;" align="center">{{g1_5}}</td>
          <td >{{g_comment5}}</td>
        </tr>
        <tr>
          <td>Governance Other</td>
          <td style="vertical-align: middle;" align="center">{{g1_6}}</td>
          <td >{{g_comment6}}</td>
        </tr>
        </tbody>
      </table>
      <center><h4 style="color:black;"><b>Interpretation of Average Scoring for Environment, Social and Governance questionnaire</b></h4></center>
      <table class="table table-bordered" style="margin-bottom: 10px; border: 1px solid black" >
        <tbody>
        <tr>
          <th scope="row" class="table-active">Average Score</th>
          <th scope="row" class="table-active">Interpretation</th>
          <th scope="row" class="table-active">Recommendation</th>
        </tr>
        <tr>
          <td style="vertical-align: middle;" align="center">0</td>
          <td>The investee company is at a very high risk as it has not delved into the ESG path at all.  It needs to consider and integrate sustainability into its strategies, internal policies and procedures and reduce ESG related risk.</td>
          <td>Not Recommended</td>
        </tr>
        <tr>
          <td style="vertical-align: middle;" align="center">1</td>
          <td>The investee company has the elementary information to comply with ESG factors but they do not have any strategies for sustainability. </td>
          <td>Risky investment</td>
        </tr>
        <tr>
          <td style="vertical-align: middle;" align="center">2</td>
          <td>The investee company is working towards integrating sustainability in its value chain, by bringing in changes across the organization and coming up with strategies to handle ESG factors. The investee company has greater chance to improve by including several International standards in their value chain for achieving due compliance. Currently, the investee company is placed in the medium risk category</td>
          <td>Good to invest</td>
        </tr>
        <tr>
          <td style="vertical-align: middle;" align="center">3</td>
          <td>The investee company has integrated sustainability in their value chain and has initiated the process of including international standards in their value chain.  It is serious in achieving maximum compliance in ESG space. The ESG risk is low.</td>
          <td>Great to invest</td>
        </tr>
        <tr>
          <td style="vertical-align: middle;" align="center">4</td>
          <td>The investee company has fully integrated sustainability factors into its strategies, policies and procedures across the organisation's value chain.  It has adopted  relevant National and International standards towards achieving ESG compliance and has evolved its own policies and procedures for tackling ESG related issues. The ESG risk is minimal.</td>
          <td>Highly recommended </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</main>
<!-- End #main -->
{% endblock %}

</body>

</html>