{% extends 'base2.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div style="margin-top:40px">
</div>
<link href="static/assets/css/style.css" rel="stylesheet">
<main id="main">
  <center><h2 style="color:black;"><b>Final Score - Investee Company</b></h2></center>


  <!-- Form Name -->
  <div class="container" style="background-color: rgba(245, 245, 248, 0.7); padding:10px; height: auto">
    <div class="container text-white; rounded">
      <center><h4 style="color:black;"><b>Interpretation of Average Scoring for Environment, Social and Governance questionnaire</b></h4></center>
      <table class="table table-bordered" style="margin-bottom: 10px; border: 1px solid black" >
        <tbody>
        <tr>
          <th scope="row" class="table-active">Average Score</th>
          <th scope="row" class="table-active">Interpretation</th>
          <th scope="row" class="table-active">Recommendation</th>
        </tr>
        <tr>
          <td>0</td>
          <td>The investment management firm is not considering sustainability into its internal systems, policies and procedures</td>
          <td>Needs immediate action </td>
        </tr>
        <tr>
          <td>1</td>
          <td>The investment management firm has identified various areas to integrate sustainability factors into its internal systems, policies and procedures</td>
          <td>Needs improvement</td>
        </tr>
        <tr>
          <td>2</td>
          <td>The investment management firm has started the process of integrating sustainability factors into its strategies, internal systems, policies and procedures</td>
          <td>Good compliance</td>
        </tr>
        <tr>
          <td>3</td>
          <td>The investment management firm has fully integrated sustainability factors into its strategies, internal systems, policies and procedures</td>
          <td>Great compliance</td>
        </tr>
        <tr>
          <td>4</td>
          <td>The investment management firm has not only fully integrated sustainability factors into its strategies, internal systems,  policies and procedures across the organisation's value chain, but also has evolved its own policies and procedures for tackling sustainability related issues. The ESG non-compliance risk is minimal.</td>
          <td>Outstanding compliance</td>
        </tr>
        </tbody>
      </table>
      <table class="table table-bordered" style="margin-bottom: 10px; border: 1px solid black">
        <tbody>
        <tr>
          <th scope="row" class="table-active">Scoring Metric : Environment</th>
          <th scope="row" class="table-active">Score</th>
          <th scope="row" class="table-active">Comments / Recommendations</th>
          <th scope="row" class="table-active">Total Score</th>
          <th scope="row" class="table-active">Avg Score</th>
        </tr>
        <tr>
          <td>Energy and Renewable Energy</td>
          <td></td>
          <td></td>
          <td rowspan="11"></td>
          <td rowspan="11"></td>
        </tr>
        <tr>
          <td>Raw materials</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Water</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Land</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Waste</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Greenhouse Gas Emissions</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Biodiversity</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Circular economy</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Environment (Others) :</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Environmental compliance</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Supply Chain Management</td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
      <table class="table table-bordered" style="margin-bottom: 10px; border: 1px solid black">
        <tbody>
        <tr>
          <th scope="row" class="table-active">Scoring Metric : Social</th>
          <th scope="row" class="table-active">Score</th>
          <th scope="row" class="table-active">Comments / Recommendations</th>
          <th scope="row" class="table-active">Total Score</th>
          <th scope="row" class="table-active">Avg Score</th>
        </tr>
        <tr>
          <td>Inequality</td>
          <td></td>
          <td></td>
          <td rowspan="7"></td>
          <td rowspan="7"></td>
        </tr>
        <tr>
          <td>Social cohesion</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Social integration</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Labour relations</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Investment in human capital</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Economically or socially disadvantaged communities</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Others - Supply chain management</td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
      <table class="table table-bordered" style="margin-bottom: 10px; border: 1px solid black">
        <tbody>
        <tr>
          <th scope="row" class="table-active">Scoring Metric : Governance</th>
          <th scope="row" class="table-active">Score</th>
          <th scope="row" class="table-active">Comments / Recommendations</th>
          <th scope="row" class="table-active">Total Score</th>
          <th scope="row" class="table-active">Avg Score</th>
        </tr>
        <tr>
          <td>Employee Relations</td>
          <td></td>
          <td></td>
          <td rowspan="6"></td>
          <td rowspan="6"></td>
        </tr>
        <tr>
          <td>Sound Management Structures</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Remuneration of Staff</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Tax Compliance</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Commitment to Good Corporate Governance</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Governance Other</td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</main>
<!-- End #main -->
{% endblock %}

</body>

</html>