{% extends 'base.html' %}
{% block content %}
{% load static %}


<link href="static/assets/css/style.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">

<body>
<div style="height: 50px">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</div>
<main id="main">

    <div class="float-container text-black" style="height: 800px; margin-left: 420px">
        <div class="float-child1" >
            <h5 class="text-black"><strong>ESG- Mifid II Appropriateness Toolkit</strong></h5>
            <hr>
            <p class="p_title">Objective of the toolkit:  This toolkit is intended to enable the Investment firms/fund managers to identify and assess client's ESG preferences in their assessments as envisaged in the EU’s proposed changes to the MiFID II suitability rules and recommend investment in investee companies accordingly.</p>
            <hr>
            <hr>
            <p class="p_title">Target Audience:  Firms providing MIFID II investment advice and portfolio management, i.e.advisory investment management firms, including independent financial advisers, wealth managers and asset
                managers more generally and in particular, heads of proposition/product, compliance officers, COOs,
                CROs and heads of regulatory change. This will also be of interest to board members looking to scrutinise their firms’ approach to ESG issues.</p>
            <hr>
            <hr>
            <p class="p_title">How should the toolkit be used?</p>
            <p class="p_title">Users should follow these steps to use the toolkit:</p>
            <hr>
            <p><strong>Instructions: </strong></p>
            <p><strong>User: </strong></p>
            <p class="instruction">
            <ol class="instruction">
                <li>
                    User has to select appropriate field from the dropdown menu.
                </li>
                <li>
                    If user selects "ESG Disclosures and Scoring", user has to start first with the "Information Sheet" and enter the required information in the appropriate fields.
                </li>
                <li>
                    As a next step, user has to fill the ESG Disclosures Page and assign a scoring to each of the items filled.
                </li>
            </ol>


            <p><strong>Client: </strong></p>
            <ol class="instruction">
                <li>
                    If user selects "ESG Thematic Questionnaire and Scoring", user has to start first with the "Information Sheet" and enter the required information in the appropriate fields.
                </li>
                <li>
                    As a next step, user has to fill the selected fields viz. Environment questionnaire page based on sectors selected and its scoring, Social questionnaire and scoring and Governance questionnaire and Scoring.
                </li>
                <li>
                    Final score will be generated automatically and emailed to the respective client email id user email id mapped with the system.
                </li>
            </ol>
            <div style="margin-top: 30px">
                <center><button type="submit" class="btn btn-success"><i class="fa fa-address-card"></i> Start </button></center>
            </div>
            </form>
        </div>
    </div>
</main>
<!-- End #main -->
{% endblock %}
</body>

</html>