{% extends 'base.html' %}
{% block content %}
{% load static %}


<link href="static/assets/css/style.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">

<body>
<div style="height: 780px; width:100%">
    <div style="height:780px; width:60.4%; padding-left:15px;  background-color: rgba(245, 245, 248, 0.4);">
        <h1 class="text-black"><strong>ESG- Mifid II Toolkit</strong></h1>
        <hr>
<!--        <p class="p_title">Objective of the toolkit:  This toolkit is intended to enable the Investment firms/fund managers to identify and assess client's ESG preferences in their assessments as envisaged in the EU’s proposed changes to the MiFID II suitability rules and recommend investment in investee companies accordingly.</p>-->
<!--        <hr>-->
<!--        <p class="p_title">Target Audience:  Firms providing MIFID II investment advice and portfolio management, i.e.advisory investment management firms, including independent financial advisers, wealth managers and asset-->
<!--            managers more generally and in particular, heads of proposition/product, compliance officers, COOs,-->
<!--            CROs and heads of regulatory change. This will also be of interest to board members looking to scrutinise their firms’ approach to ESG issues.</p>-->
<!--        <hr>-->
<!--        <p class="p_title">How should the toolkit be used?</p>-->
<!--        <p class="p_title">Users should follow these steps to use the toolkit:</p>-->
<!--        <hr>-->
<!--        <p><strong>Instructions: </strong></p>-->
<!--        <hr>-->
<!--        <p><strong>User: </strong></p>-->
<!--        <hr>-->
<!--        <p class="instruction">-->
<!--        <ol class="instruction">-->
<!--            <li>-->
<!--                User has to select appropriate field from the dropdown menu.-->
<!--            </li>-->
<!--            <li>-->
<!--                If user selects "ESG Disclosures and Scoring", user has to start first with the "Information Sheet" and enter the required information in the appropriate fields.-->
<!--            </li>-->
<!--            <li>-->
<!--                As a next step, user has to fill the ESG Disclosures Page and assign a scoring to each of the items filled.-->
<!--            </li>-->
<!--        </ol>-->
        <div style="height:780px; width:66.7%; margin-left:100%;  background-color: rgba(245, 245, 248, 0.6);">
<!--            <h5 class="text-black"><strong>Investment Firm Details</strong></h5>-->
<!--            <hr>-->
        </div>
    </div>
</div>

<!-- End #main -->
{% endblock %}
</body>

</html>