jm {% extends 'base2.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

<body >
<main id="main">
    <div style="padding-top:20px">
        <button type="button" onclick="history.back()" style="display: none;" id="back-btn"></button>
        <a href="#" style="color:white"><img src="static/assets/img/Icon.png" onclick="document.getElementById('back-btn').click()" alt="Back"/>Back</a>
    </div>
    <style>
        .form-select {
            width: 500px;
            height: 35px;
          }
    </style>

    <center>
        <div style="padding-top:50px">
        <form class="form-horizontal" method="POST" >
            {% csrf_token %}
                <label class="control-label col-sm-4" ><strong style="color:#2B0A3D; font-size:20px ">Select sector between Environment Social and Governance </strong></label>
                <select type="select" class="form-select" id="multiselect" name="s1" onchange="window.location = this.options[this.selectedIndex].value">
                    <option value="0"></option>
                    <option value="{% url 'environment_selection' %}">Environment</option>
                    <option value="{% url 'social_1_scoring' %}">Social</option>
                    <option value="{% url 'only_governance' %}">Governance</option>
                    <option value="{% url 'env_social_selection' %}">Environment and Social</option>
                    <option value="{% url 'env_gov_selection' %}">Environment and Governance</option>
                    <option value="{% url 'social_1_select' %}">Social and Governance</option>
                    <option value="{% url 'environment1_1' %}">Environment and Social and Governance</option>
                </select>
            <div style="padding:10px">
                <input type="button" onclick="multipleFunc()" value="Select options">
            </div>
         </form>
    </div>
    </center>
</main>
<!-- End #main -->
{% endblock %}

</body>

</html>