{% extends 'base2.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

<body >
<main id="main">
    <style>
        .form-select {
            width: 600px;
            height: 60px;
          }
    </style>
    <center>
        <div style="padding-top:180px">
            <form >
                {% csrf_token %}
                <label class="control-label col-sm-4" ><strong style="color:#2B0A3D; font-size:30px ">Select within Environment, Social , and Governance</Governance> </strong></label>
                <select type="select" class="form-select" id="multiselect" name="s1" onchange="window.location = this.options[this.selectedIndex].value">
                    <option value="0"></option>
                    <option value="{% url 'environment1_1' %}">Environment</option>
                    <option value="{% url 'social_1' %}">Social</option>
                    <option value="{% url 'governance' %}">Governance</option>
                    <option value="4">Environment and Social</option>
                    <option >Environment and Governance</option>
                    <option >Social and Governance</option>
                    <option value="{% url 'environment1_1' %}">Environment and Social and Governance</option>
                </select>
                <div style="padding:10px">
                    <input type="button" onclick="multipleFunc()" value="Select options">
                </div>
            </form>
<!--            <script>-->
<!--            function multipleFunc() {-->
<!--            document.getElementById("multiselect").multiple = true;-->
<!--            }-->
<!--            </script>-->
        </div>
    </center>
    </div>

</main>
<!-- End #main -->
{% endblock %}

</body>

</html>