{% extends 'base.html' %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div style="margin-top:40px">
</div>
<link href="static/assets/css/style.css" rel="stylesheet">
<main id="main">
    <button type="button" onclick="history.back()" style="display: none; color:white" id="back-btn"></button>
    <a href="#" style="color:white"><img src="static/assets/img/Icon.png" onclick="document.getElementById('back-btn').click()"  alt="Back"/>Back</a>
    <!-- Form Name -->
    <div class="container" style="background-color: rgba(245, 245, 248, 0.7); padding:10px; height: auto">
        <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
            <div class="row mb-1" style="padding:5px">
                <center><h5 style="color:Black"><b>Conflicts of Interest</b></h5></center>
            </div>
        </div>
        <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
            <div class="row mb-1" style="padding:5px">
                <h6><strong  style="color:Black; margin-left:10px">Mandates</strong><strong  style="color:Black; margin-left:320px">Yes | No | N/A</strong><strong  style="color:Black; margin-left:150px">Comments</strong><strong  style="color:Black; margin-left:150px">Exception</strong></h6>
            </div>
        </div>
        <form method="POST" class="form-horizontal" action="self_assessment_10">
            {% csrf_token %}
            <div class="form-group" style="padding-top:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investment firm identify conflicts of interest whose existence may damange the interests of a client including the one arising from distribution of ESG suitable investments</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa14_1" name="sa14_1" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment14_1" placeholder="Comments / Risks / Opportunities identified" name="comment14_1"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception14_1" placeholder="Exceptions if any" name="exception14_1"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investment firm identify conflicts of interest and manage the same. Explain.</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa14_2" name="sa14_2" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment14_2" placeholder="Comments / Risks / Opportunities identified" name="comment14_2"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception14_2" placeholder="Exceptions if any" name="exception14_2"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" >
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the inclusion of ESG considerations in the advisory process and portfolio management lead to mis-selling practices</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa14_3" name="sa14_3" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment14_3" placeholder="Comments / Risks / Opportunities identified" name="comment14_3"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception14_3" placeholder="Exceptions if any" name="exception14_3"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the inclusion of ESG considerations in the advisory process and portfolio management considered as an excuse to sell own-products or more costly ones</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa14_4" name="sa14_4" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment14_4" placeholder="Comments / Risks / Opportunities identified" name="comment14_4"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception14_4" placeholder="Exceptions if any" name="exception14_4"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" >
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the inclusion of ESG considerations in the advisory process and portfolio management considered as an excuse to generate churning of clients’ portfolios</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa14_5" name="sa14_5" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment14_5" placeholder="Comments / Risks / Opportunities identified" name="comment14_5"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception14_5" placeholder="Exceptions if any" name="exception14_5"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the inclusion of ESG considerations in the advisory process and portfolio management considered as an excuse to misrepresent products or strategies as fulfilling ESG preferences where they do not.</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa14_6" name="sa14_6" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment14_6" placeholder="Comments / Risks / Opportunities identified" name="comment14_6"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception14_6" placeholder="Exceptions if any" name="exception14_6"></textarea>
                    </div>
                </div>
            </div>

            <div style="margin-bottom:4px">
                <button class="btn btn-primary" type="reset" style="margin-left:950px">Reset</button><a href="#"><button style="margin-left:20px" type="submit" class="btn btn-primary">Next</button></a>
            </div>
            <!--            </div>-->
        </form>
    </div>
    </div>
</main>
<!-- End #main -->
{% endblock %}

</body>

</html>