{% extends 'base.html' %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div style="margin-top:40px">
</div>
<link href="static/assets/css/style.css" rel="stylesheet">
<main id="main">
    <button type="button" onclick="history.back()" style="display: none; color:white" id="back-btn"></button>
    <a href="#" style="color:white"><img src="static/assets/img/Icon.png" onclick="document.getElementById('back-btn').click()"  alt="Back"/>Back</a>
    <!-- Form Name -->
    <div class="container" style="background-color: rgba(245, 245, 248, 0.7); padding:10px; height: auto">
        <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
            <div class="row mb-1" style="padding:5px">
                <center><h5 style="color:Black"><b>Costs Involved</b></h5></center>
            </div>
        </div>
        <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
            <div class="row mb-1" style="padding:5px">
                <h6><strong  style="color:Black; margin-left:10px">Mandates</strong><strong  style="color:Black; margin-left:320px">Yes | No | N/A</strong><strong  style="color:Black; margin-left:150px">Comments</strong><strong  style="color:Black; margin-left:150px">Exception</strong></h6>
            </div>
        </div>
        <form method="POST" class="form-horizontal" action="self_assessment_12">
            {% csrf_token %}
            <div class="form-group" style="padding-top:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Has the investment firm identified the sources / third party vendors for buying ESG data and cost involved (depending on current arrangements of relevant firms)</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa16_1" name="sa16_1" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment16_1" placeholder="Comments / Risks / Opportunities identified" name="comment16_1"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception16_1" placeholder="Exceptions if any" name="exception16_1"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Has the investment firm identified methods of systematic integration of ESG data in the investment decision process and risk assessment</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa16_2" name="sa16_2" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment16_2" placeholder="Comments / Risks / Opportunities identified" name="comment16_2"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception16_2" placeholder="Exceptions if any" name="exception16_2"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Has the investment firm identified direct costs linked to the update/review of the existing procedural and organisational requirements (e.g. the review or update of the arrangements for the identification of the target market)</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa16_3" name="sa16_3" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment16_3" placeholder="Comments / Risks / Opportunities identified" name="comment16_3"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception16_3" placeholder="Exceptions if any" name="exception16_3"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Has the investment firm identified direct initial and ongoing IT costs to update current structures and programmes</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa16_4" name="sa16_4" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment16_4" placeholder="Comments / Risks / Opportunities identified" name="comment16_4"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception16_4" placeholder="Exceptions if any" name="exception16_4"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Has the investment firm identified direct organisational and HR costs linked to the qualification of firm staff (in particular compliance function staff and staff devoted to the definition of the target market) or training for board members</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa16_5" name="sa16_5" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment16_5" placeholder="Comments / Risks / Opportunities identified" name="comment16_5"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception16_5" placeholder="Exceptions if any" name="exception16_5"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" >
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Has the investment firm identified initial and on-going costs for reviewing and updating existing risk-management and compliance arrangements</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa16_6" name="sa16_6" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment16_6" placeholder="Comments / Risks / Opportunities identified" name="comment16_6"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception16_6" placeholder="Exceptions if any" name="exception16_6"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Has the investment firm identified costs for research and data on ESG (depending on the size and nature of the organisation)</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa16_7" name="sa16_7" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment16_7" placeholder="Comments / Risks / Opportunities identified" name="comment16_7"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception16_7" placeholder="Exceptions if any" name="exception16_7"></textarea>
                    </div>
                </div>
            </div>

            <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
                <div class="row mb-1" style="padding:5px">
                    <center><h5 style="color:Black"><b>Information to be provided to the client</b></h5></center>
                </div>
            </div>
            <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
                <div class="row mb-1" style="padding:5px">
                    <h6><strong  style="color:Black; margin-left:10px">Mandates</strong><strong  style="color:Black; margin-left:320px">Yes | No | N/A</strong><strong  style="color:Black; margin-left:150px">Comments</strong><strong  style="color:Black; margin-left:150px">Exception</strong></h6>
                </div>
            </div>
            <i>Before providing investment advice to the client, does the investment firm provide following information to the client:</i>
            <div class="form-group" style="padding-top:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">a. Whether or not the advice is provided on an independent basis</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa17_1" name="sa17_1" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment17_1" placeholder="Comments / Risks / Opportunities identified" name="comment17_1"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception17_1" placeholder="Exceptions if any" name="exception17_1"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">b. Whether the advice is based on a broad or on a more restricted analysis of different types of financial instruments</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa17_2" name="sa17_2" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment17_2" placeholder="Comments / Risks / Opportunities identified" name="comment17_2"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception17_2" placeholder="Exceptions if any" name="exception17_2"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">c. Whether the range is limited to financial instruments issued or provided by entities having close links with the investment firm or any other legal or economic relationships, such as contractual relationships, so close as to pose a risk of impairing the independent basis of the advice provided</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa17_3" name="sa17_3" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment17_3" placeholder="Comments / Risks / Opportunities identified" name="comment17_3"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception17_3" placeholder="Exceptions if any" name="exception17_3"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" >
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">d. Whether the investment firm will provide the client with a periodic assessment of the suitability of the financial instruments recommended to that client</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa17_4" name="sa17_4" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment17_4" placeholder="Comments / Risks / Opportunities identified" name="comment17_4"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception17_4" placeholder="Exceptions if any" name="exception17_4"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">e. Whether appropriate guidance on and warnings of the risks associated with investments in financial instruments and proposed investment strategies is provided to the clients</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa17_5" name="sa17_5" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment17_5" placeholder="Comments / Risks / Opportunities identified" name="comment17_5"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception17_5" placeholder="Exceptions if any" name="exception17_5"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" >
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">f. Whether the information on all costs and associated charges include information relating to both investment and ancillary services, including the cost of advice, where relevant, the cost of the financial instrument recommended or marketed to the client and</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa17_6" name="sa17_6" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment17_6" placeholder="Comments / Risks / Opportunities identified" name="comment17_6"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception17_6" placeholder="Exceptions if any" name="exception17_6"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" >
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">g. Whether the information on how the client may pay for it, also encompassing any third-party payments is made available to the client</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="sa17_7" name="sa17_7" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="comment17_7" placeholder="Comments / Risks / Opportunities identified" name="comment17_7"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception17_7" placeholder="Exceptions if any" name="exception17_7"></textarea>
                    </div>
                </div>
            </div>

            <div style="margin-bottom:4px">
                <button class="btn btn-primary " type="reset" style="margin-left:950px">Reset</button><a href="#"><button style="margin-left:20px" type="submit" class="btn btn-primary">Next</button></a>
            </div>
            <!--            </div>-->
        </form>
    </div>
    </div>
</main>
<!-- End #main -->
{% endblock %}

</body>

</html>