{% extends 'base.html' %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div style="margin-top:40px">
</div>
<link href="static/assets/css/style.css" rel="stylesheet">
<main id="main">
    <button type="button" onclick="history.back()" style="display: none; color:white" id="back-btn"></button>
    <a href="#" style="color:white"><img src="static/assets/img/Icon.png" onclick="document.getElementById('back-btn').click()"  alt="Back"/>Back</a>
    <!-- Form Name -->
    <div class="container" style="background-color: rgba(245, 245, 248, 0.7); padding:10px; height: auto">
        <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
            <div class="row mb-1" style="padding:5px">
                <center><h2 style="color:Black"><b>Requirements-Portfolio-Level ESG Characteristics</b></h2></center>
            </div>
        </div>
        <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
            <div class="row mb-1" style="padding:5px">
                <h4><strong  style="color:Black; margin-left:40px">Mandates</strong><strong  style="color:Black; margin-left:230px">Yes/No/NA</strong><strong  style="color:Black; margin-left:120px">Comments</strong><strong  style="color:Black; margin-left:130px">Exception</strong></h4>
            </div>
        </div>
        <form method="POST" class="form-horizontal" action="self_assessment_7">
            {% csrf_token %}
            <div class="form-group" style="padding:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><strong style="color:#2B0A3D; ">If the investment product has targets for portfolio-level ESG characteristics, then does the investment manager disclose for each target, the portfolio-level ESG characteristic that is evaluated</strong></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="targets_for_portfolio" name="targets_for_portfolio" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="comment8.1" placeholder="Comments / Risks / Opportunities identified" name="comment8_1"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="exception8.1" placeholder="Exceptions if any" name="exception8_1"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" style="padding:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><strong style="color:#2B0A3D; ">If the investment product has targets for portfolio-level ESG characteristics, then does the investment manager disclose for each target, how the portfolio-level ESG characteristic is measured</strong></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="level_ESG_characteristics" name="level_ESG_characteristics" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="comment8.2" placeholder="Comments / Risks / Opportunities identified" name="comment8_2"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="exception8.2" placeholder="Exceptions if any" name="exception8_2"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" style="padding:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><strong style="color:#2B0A3D; ">If the investment product has targets for portfolio-level ESG characteristics, then does the investment manager disclose for each target, the target value or range for the portfolio-level ESG characteristic</strong></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="the_target_value" name="the_target_value" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="comment8.3" placeholder="Comments / Risks / Opportunities identified" name="comment8_3"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="exception8.3" placeholder="Exceptions if any" name="exception8_3"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" style="padding:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><strong style="color:#2B0A3D; ">If the investment product has targets for portfolio-level ESG characteristics, then does the investment manager disclose for each target, how the target portfolio-level ESG characteristic is expected to be attained</strong></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="ESG_characteristics" name="ESG_characteristics" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="comment8.4" placeholder="Comments / Risks / Opportunities identified" name="comment8_4"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="exception8.4" placeholder="Exceptions if any" name="exception8_4"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" style="padding:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><strong style="color:#2B0A3D; ">If the investment product has targets for portfolio-level ESG characteristics, then does the investment manager disclose for each target, the risks that could significantly hinder the attainment of the target portfolio-level ESG characteristic, should they occur</strong></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="level_ESG" name="level_ESG" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="comment8.5" placeholder="Comments / Risks / Opportunities identified" name="comment8_5"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="exception8.5" placeholder="Exceptions if any" name="exception8_5"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" style="padding:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><strong style="color:#2B0A3D; ">If the investment product has targets for portfolio-level ESG characteristics, then does the investment manager disclose for each target, a reference, where applicable, to any law, regulation, or third-party standard, guideline, or framework used to measure the portfolio-level ESG characteristic or set the target</strong></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="manager_disclose" name="manager_disclose" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="comment8.6" placeholder="Comments / Risks / Opportunities identified" name="comment8_6"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="exception8.6" placeholder="Exceptions if any" name="exception8_6"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" style="padding:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><strong style="color:#2B0A3D; ">If the investment product uses an ESG index as a point of comparison for portfolio-level ESG characteristics, then does the investment manager disclose the portfolio-level ESG characteristics that are compared with the ESG index</strong></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="uses_an_ESG" name="uses_an_ESG" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="comment8.7" placeholder="Comments / Risks / Opportunities identified" name="comment8_7"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="exception8.7" placeholder="Exceptions if any" name="exception8_7"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" style="padding:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><strong style="color:#2B0A3D; ">If the investment product uses an ESG index as a point of comparison for portfolio-level ESG characteristics, then does the investment manager disclose either the significant ESG characteristics of the ESG index or, if the ESG index is a readily recognized index, the name of the ESG index</strong></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="product_uses" name="product_uses" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="comment8.8" placeholder="Comments / Risks / Opportunities identified" name="comment8_8"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="exception8.8" placeholder="Exceptions if any" name="exception8_8"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" style="padding:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><strong style="color:#2B0A3D; ">If the investment product uses an ESG index as a point of comparison for portfolio-level ESG characteristics, then does the investment manager disclose how an investor can obtain information about the definitions of and calculation methodologies for the ESG characteristics of the ESG index</strong></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="point_of_comparison" name="point_of_comparison" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="comment8.9" placeholder="Comments / Risks / Opportunities identified" name="comment8_9"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="exception8.9" placeholder="Exceptions if any" name="exception8_9"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" style="padding:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><strong style="color:#2B0A3D; ">If the investment product has targets for portfolio-level ESG characteristics, then does the investment manager disclose how progress toward, or attainment of, those targets is reported to investors.</strong></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="does_the_investment" name="does_the_investment" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="comment8.10" placeholder="Comments / Risks / Opportunities identified" name="comment8_10"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows ="3" class="form-control" id="exception8.10" placeholder="Exceptions if any" name="exception8_10"></textarea>
                    </div>
                </div>
            </div>

            <div style="margin-bottom:4px">
                <button class="btn btn-primary rounded-pill" type="reset" style="margin-left:950px">Reset</button><a href="#"><button style="margin-left:20px" type="submit" class="btn btn-primary rounded-pill">Next</button></a>
            </div>
            <!--            </div>-->
        </form>
    </div>
    </div>
</main>
<!-- End #main -->
{% endblock %}

</body>

</html>