{% extends 'base.html' %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div style="margin-top:40px">
</div>
<link href="static/assets/css/style.css" rel="stylesheet">
<main id="main">
  <button type="button" onclick="history.back()" style="display: none; color:white" id="back-btn"></button>
  <a href="#" style="color:white"><img src="static/assets/img/Icon.png" onclick="document.getElementById('back-btn').click()"  alt="Back"/>Back</a>
  <!-- Form Name -->
  <div class="container" style="background-color: rgba(245, 245, 248, 0.7); padding:10px; height: auto">
    <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
      <div class="row mb-1" style="padding:5px">
        <center><h5 style="color:Black"><b>Product Governance</b></h5></center>
      </div>
    </div>
    <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
      <div class="row mb-1" style="padding:5px">
        <h6><strong  style="color:Black; margin-left:10px">Mandates</strong><strong  style="color:Black; margin-left:320px">Yes | No | N/A</strong><strong  style="color:Black; margin-left:150px">Comments</strong><strong  style="color:Black; margin-left:150px">Exception</strong></h6>
      </div>
    </div>
    <form method="POST" class="form-horizontal" action="self_assessment_11">
      {% csrf_token %}
      <div class="form-group" style="padding-top:10px">
        <div class="row mb-4">
          <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investment firm identify and document the potential target market for each financial instrument</b></label>
          <div class="col-sm-2">
            <select type="text" class="form-select" id="sa15_1" name="sa15_1" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
              <option value=""></option>
              <option value="0">Yes</option>
              <option value="1">No</option>
              <option value="NA">N/A</option>
            </select>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="comment15_1" placeholder="Comments / Risks / Opportunities identified" name="comment15_1"></textarea>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="exception15_1" placeholder="Exceptions if any" name="exception15_1"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-4">
          <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investment firm specify and document the type of client for whose needs, characteristics and objectives and ESG preferences (where relevant), the financial instrument is compatible</b></label>
          <div class="col-sm-2">
            <select type="text" class="form-select" id="sa15_2" name="sa15_2" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
              <option value=""></option>
              <option value="0">Yes</option>
              <option value="1">No</option>
              <option value="NA">N/A</option>
            </select>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="comment15_2" placeholder="Comments / Risks / Opportunities identified" name="comment15_2"></textarea>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="exception15_2" placeholder="Exceptions if any" name="exception15_2"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-4">
          <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investment firm also identify and document any group of clients for whose needs, characteristics and objectives, the financial instrument is not compatible</b></label>
          <div class="col-sm-2">
            <select type="text" class="form-select" id="sa15_3" name="sa15_3" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
              <option value=""></option>
              <option value="0">Yes</option>
              <option value="1">No</option>
              <option value="NA">N/A</option>
            </select>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="comment15_3" placeholder="Comments / Risks / Opportunities identified" name="comment15_3"></textarea>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="exception15_3" placeholder="Exceptions if any" name="exception15_3"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-4">
          <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investment firm determine whether a financial instrument meets the identified needs, characteristics and objectives of the target market, including by examining, whether the financial instrument's risk/reward profile is consistent with the target market</b></label>
          <div class="col-sm-2">
            <select type="text" class="form-select" id="sa15_2" name="sa15_2" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
              <option value=""></option>
              <option value="0">Yes</option>
              <option value="1">No</option>
              <option value="NA">N/A</option>
            </select>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="comment15_4" placeholder="Comments / Risks / Opportunities identified" name="comment15_4"></textarea>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="exception15_4" placeholder="Exceptions if any" name="exception15_4"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-4">
          <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investment firm determine whether a financial instrument meets the identified needs, characteristics and objectives of the target market, including by examining, whether the financial instrument's ESG characteristics (where relevant) are consistent with the target market</b></label>
          <div class="col-sm-2">
            <select type="text" class="form-select" id="sa15_5" name="sa15_5" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
              <option value=""></option>
              <option value="0">Yes</option>
              <option value="1">No</option>
              <option value="NA">N/A</option>
            </select>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="comment15_5" placeholder="Comments / Risks / Opportunities identified" name="comment15_5"></textarea>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="exception15_5" placeholder="Exceptions if any" name="exception15_5"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-4">
          <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investment firm determine whether a financial instrument meets the identified needs, characteristics and objectives of the target market, including by examining, whether the financial instrument design is driven by features that benefit the client and not by a business model that relies on poor client outcomes to be profitable</b></label>
          <div class="col-sm-2">
            <select type="text" class="form-select" id="sa15_6" name="sa15_6" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
              <option value=""></option>
              <option value="0">Yes</option>
              <option value="1">No</option>
              <option value="NA">N/A</option>
            </select>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="comment15_6" placeholder="Comments / Risks / Opportunities identified" name="comment15_6"></textarea>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="exception15_6" placeholder="Exceptions if any" name="exception15_6"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-4">
          <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investment firm review and document the investment products they offer or recommend and the services they provide on a regular basis, taking into account any event that could materially affect the potential risk to the identified target market</b></label>
          <div class="col-sm-2">
            <select type="text" class="form-select" id="sa15_7" name="sa15_7" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
              <option value=""></option>
              <option value="0">Yes</option>
              <option value="1">No</option>
              <option value="NA">N/A</option>
            </select>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="comment15_7" placeholder="Comments / Risks / Opportunities identified" name="comment15_7"></textarea>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="exception15_7" placeholder="Exceptions if any" name="exception15_7"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-4">
          <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investment firm assess whether the product or service remains consistent with the needs, characteristics and objectives and ESG preferences (where relevant), of the identified target market</b></label>
          <div class="col-sm-2">
            <select type="text" class="form-select" id="sa15_8" name="sa15_8" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
              <option value=""></option>
              <option value="0">Yes</option>
              <option value="1">No</option>
              <option value="NA">N/A</option>
            </select>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="comment15_8" placeholder="Comments / Risks / Opportunities identified" name="comment15_8"></textarea>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="exception15_8" placeholder="Exceptions if any" name="exception15_8"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-4">
          <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investment firm assess whether the intended distribution strategy remains appropriate.</b></label>
          <div class="col-sm-2">
            <select type="text" class="form-select" id="sa15_9" name="sa15_9" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
              <option value=""></option>
              <option value="0">Yes</option>
              <option value="1">No</option>
              <option value="NA">N/A</option>
            </select>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="comment15_9" placeholder="Comments / Risks / Opportunities identified" name="comment15_9"></textarea>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="exception15_9" placeholder="Exceptions if any" name="exception15_9"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-4">
          <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investment firm reconsider the target market and/or update the product governance arrangements in case of wrong idenfication of target market for a specific product or service</b></label>
          <div class="col-sm-2">
            <select type="text" class="form-select" id="sa15_10" name="sa15_10" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
              <option value=""></option>
              <option value="0">Yes</option>
              <option value="1">No</option>
              <option value="NA">N/A</option>
            </select>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="comment15_10" placeholder="Comments / Risks / Opportunities identified" name="comment15_10"></textarea>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="exception15_10" placeholder="Exceptions if any" name="exception15_10"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-4">
          <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investment firm reconsider the target market and/or update the product governance arrangements in case the product or service no longer meets the circumstances of the identified target market (in cases where product becomes illiquid or very volatile due to market volatility)</b></label>
          <div class="col-sm-2">
            <select type="text" class="form-select" id="sa15_11" name="sa15_11" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
              <option value=""></option>
              <option value="0">Yes</option>
              <option value="1">No</option>
              <option value="NA">N/A</option>
            </select>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="comment15_11" placeholder="Comments / Risks / Opportunities identified" name="comment15_11"></textarea>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="exception15_11" placeholder="Exceptions if any" name="exception15_11"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-4">
          <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">In order to capture sustainability preferences, does the investment firm recommend financial instruments that are either invested, at least to some extent, in taxonomy-compliant activities under the Taxonomy Regulation, or in sustainable investments, as defined in Article 2, point (17), of the SFDR </b></label>
          <div class="col-sm-2">
            <select type="text" class="form-select" id="sa15_12" name="sa15_12" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
              <option value=""></option>
              <option value="0">Yes</option>
              <option value="1">No</option>
              <option value="NA">N/A</option>
            </select>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="comment15_12" placeholder="Comments / Risks / Opportunities identified" name="comment15_12"></textarea>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="exception15_12" placeholder="Exceptions if any" name="exception15_12"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row mb-4">
          <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">In order to capture sustainability preferences, does the investment firm rank in advance and group financial instruments in terms of the proportion invested in economic activities that qualify as environmentally sustainable, the proportion of sustainable investments, or the consideration of principal adverse impacts</b></label>
          <div class="col-sm-2">
            <select type="text" class="form-select" id="sa15_13" name="sa15_13" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
              <option value=""></option>
              <option value="0">Yes</option>
              <option value="1">No</option>
              <option value="NA">N/A</option>
            </select>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="comment15_13" placeholder="Comments / Risks / Opportunities identified" name="comment15_13"></textarea>
          </div>
          <div class="col-sm-3">
            <textarea rows="2" class="form-control" id="exception15_13" placeholder="Exceptions if any" name="exception15_13"></textarea>
          </div>
        </div>
      </div>


      <div style="margin-bottom:4px">
        <button class="btn btn-primary " type="reset" style="margin-left:950px">Reset</button><a href="#"><button style="margin-left:20px" type="submit" class="btn btn-primary">Next</button></a>
      </div>
      <!--            </div>-->
    </form>
  </div>
  </div>
</main>
<!-- End #main -->
{% endblock %}