{% extends 'base2.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div style="margin-top:40px">
</div>
<link href="static/assets/css/style.css" rel="stylesheet">
<main id="main">
    <button type="button" onclick="history.back()" style="display: none; color:white" id="back-btn"></button>
    <a href="#" style="color:white"><img src="static/assets/img/Icon.png" onclick="document.getElementById('back-btn').click()"  alt="Back"/>Back</a>
    <center><h2 style="color:black; font-size:30px"><b>Social</b></h2></center>
    <!-- Form Name -->

    <script>
        window.onload = function(){
                console.log('inside the function')
                var value_dict = {{value_dict|safe}}
                console.log(value_dict)

                if(document.getElementsByName('f1_4').value == null){
                document.forms['social_screening']['f1_4'].value = value_dict.f1_4;
                }
                console.log("Value replaced successfully")
        }

        function toggleInput1() {
                            var f1_4 = document.getElementById("f1_4");
                            var Asset1 = document.getElementById("Asset1");
                            Asset1.style.display = f1_4.value == "0" ? "block" : "none";
                        }

        function toggleText(){
            var myText=document.getElementById("info");
            var displaySetting=myText.style.display;

            if(displaySetting == 'none'){
                myText.style.display='block';
            }
            else{
                myText.style.display='none';
            }
        }
    </script>
    <div class="container" style="background-color: rgba(245, 245, 248, 0.7); padding:10px; height: auto">
        <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
            <div class="row mb-1" style="padding:5px; float:left; width:51%;">
                <center><h2 style="color:red; font-size:15px">ESG thematic investing description ( This part describes investment strategy, and is not linked to Taxonomy)</h2></center>
            </div>
            <div class="row mb-1" style="padding:5px;  width:51%;">
                <center><h2 style="color:Black; font-size:17px">Evaluation Criteria (as per Article 2(17) of SFDR): <b>Inequality</b></h2></center>
            </div>
        </div>
        <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
            <div  style="padding:2px">
                <h4><strong  style="color:Black; margin-left: -505px; font-size:18px">Question</strong><strong  style="color:Black;margin-left: 280px; font-size:18px">Yes | No | N/A*</strong><strong  style="color:Black; margin-left: 100px; font-size:18px">Comments</strong><strong  style="color:Black; margin-left:170px; font-size:18px">Exception</strong></h4>
            </div>
        </div>
        <form method="POST" class="form-horizontal" action="social_1">
            {% csrf_token %}
            <div class="form-group" style="padding-top:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investee company consider Non-discrimination as a material topic?</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="f1_1" name="f1_1" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>

                    <div class="col-sm-3">
                        <textarea rows="2"  class="form-control" id="comment1_1" placeholder="Comments / Risks / Opportunities identified" name="comment1_1"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2"  class="form-control" id="exception1_1" placeholder="Exceptions if any" name="exception1_1"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">If Yes, does the investee company have any set policies/strategies/goals/responsibilities for handling the Non-discrimination?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f1_2" name="f1_2" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment1_2" placeholder="Comments / Risks / Opportunities identified" name="comment1_2"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception1_2" placeholder="Exceptions if any" name="exception1_2"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Has the investee company dealt with any inequality issues arising due to local customs?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f1_3" name="f1_3" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment1_3" placeholder="Comments / Risks / Opportunities identified" name="comment1_3"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style=""  class="form-control" id="exception1_3" placeholder="Exceptions if any" name="exception1_3"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" id="Asset1">
                <div class="row mb-4" >
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investee company have diversity policies and report following information:</b><a href="#"><img src="static/assets/img/icon-right-inside.png" onclick="toggleText()" alt="Info"><i style="font-size:12px">click more</i></a></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f1_4" name="f1_4" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment1_4" placeholder="Comments / Risks / Opportunities identified" name="comment1_4"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception1_4" placeholder="Exceptions if any" name="exception1_4"></textarea>
                    </div>
                </div>
                <div id="info" style="display:none">
                    <i  style="font-size:12px">a. Percentage of individuals within the organization’s governance bodies in each of the following diversity categories:<br>
                    i. Gender;<br>
                    ii. Age group: under 30 years old, 30-50 years old, over 50 years old;<br>
                    iii. Other indicators of diversity where relevant (such as minority or vulnerable groups).<br>
                    b. Percentage of employees per employee category in each of the following diversity categories:
                    i. Gender;<br>
                    ii. Age group: under 30 years old, 30-50 years old, over 50 years old;<br>
                    iii. Other indicators of diversity where relevant (such as minority or vulnerable groups).</i>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investee company  conduct mandatory health checks for its workers?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f1_5" name="f1_5" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment1_5" placeholder="Comments / Risks / Opportunities identified" name="comment1_5"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception1_5" placeholder="Exceptions if any" name="exception1_5"></textarea>
                    </div>
                </div>
            </div>

            <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
                <div class="row mb-1" >
                    <center><h2 style="color:Black; font-size:17px">Evaluation Criteria (as per Article 2(17) of SFDR): <b>Social Cohesion</b></h2></center>
                </div>
            </div>
            <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
                <div  style="padding:2px">
                    <h4><strong  style="color:Black; margin-left:80px; font-size:18px">Question</strong><strong  style="color:Black; margin-left:240px; font-size:18px">Yes | No | N/A*</strong><strong  style="color:Black; margin-left:140px; font-size:18px">Comments</strong><strong  style="color:Black; margin-left:170px; font-size:18px">Exception</strong></h4>
                </div>
            </div>
            <div class="form-group" style="padding-top:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investee company consider Social Cohesion as a material topic and has an explanation  for it?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f2_1" name="f2_1" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment2_1" placeholder="Comments / Risks / Opportunities identified" name="comment2_1"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception2_1" placeholder="Exceptions if any" name="exception2_1"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investee company have any set policies/strategies/goals/responsibilities for handling the Social Cohesion?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f2_2" name="f2_2" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment2_2" placeholder="Comments / Risks / Opportunities identified" name="comment2_2"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception2_2" placeholder="Exceptions if any" name="exception2_2"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" >
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investee company provide program for personal development and does it report following information:<br>
                        a. Type and scope of programs implemented and assistance provided to upgrade employee skills.<br>
                        b. Social awareness programs conducted and assistance provided to them for Region development, Green transition </b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f2_3" name="f2_3" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment2_3" placeholder="Comments / Risks / Opportunities identified" name="comment2_3"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception2_3" placeholder="Exceptions if any" name="exception2_3"></textarea>
                    </div>
                </div>
            </div>
            <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
                <div class="row mb-1">
                    <center><h2 style="color:Black; font-size:17px">Evaluation Criteria (as per Article 2(17) of SFDR): <b>Social Integration</b></h2></center>
                </div>
            </div>
            <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
                <div  style="padding:2px">
                    <h4><strong  style="color:Black; margin-left:80px; font-size:18px">Question</strong><strong  style="color:Black; margin-left:240px; font-size:18px">Yes | No | N/A*</strong><strong  style="color:Black; margin-left:140px; font-size:18px">Comments</strong><strong  style="color:Black; margin-left:170px; font-size:18px">Exception</strong></h4>
                </div>
            </div>
            <div class="form-group" style="padding-top:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investee company consider Social Integration activties as a material topic and has an explanation  for it?</b></label>
                    <div class="col-sm-2">
                        <select type="text"  style="" class="form-select" id="f3_1" name="f3_1" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment3_1" placeholder="Comments / Risks / Opportunities identified" name="comment3_1"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2"style="" class="form-control" id="exception3_1" placeholder="Exceptions if any" name="exception3_1"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investee company have any set policies/strategies/goals/responsibilities for handling the Social Integration activities?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f3_2" name="f3_2" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment3_2" placeholder="Comments / Risks / Opportunities identified" name="comment3_2"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception3_2" placeholder="Exceptions if any" name="exception3_2"></textarea>
                    </div>
                </div>
            </div>

            <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
                <div class="row mb-1" >
                    <center><h2 style="color:Black; font-size:17px">Evaluation Criteria (as per Article 2(17) of SFDR): <b>Labour Relations</b></h2></center>
                </div>
            </div>
            <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
                <div  style="padding:2px">
                    <h4><strong  style="color:Black; margin-left:80px; font-size:18px">Question</strong><strong  style="color:Black; margin-left:240px; font-size:18px">Yes | No | N/A*</strong><strong  style="color:Black; margin-left:140px; font-size:18px">Comments</strong><strong  style="color:Black; margin-left:170px; font-size:18px">Exception</strong></h4>
                </div>
            </div>
            <div class="form-group" style="padding-top:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investee company consider Labor/Management Relations as a material topic and has an explanation  for it?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f4_1" name="f4_1" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment4_1" placeholder="Comments / Risks / Opportunities identified" name="comment4_1"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception4_1" placeholder="Exceptions if any" name="exception4_1"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group" >
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investee company have any set policies/strategies/goals/responsibilities for handling the Labor/Management Relations related impacts like minimum wage laws?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f4_2" name="f4_2" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment4_2" placeholder="Comments / Risks / Opportunities identified" name="comment4_2"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception4_2" placeholder="Exceptions if any" name="exception4_2"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investee company use any mechanisms or any procedures and related adjustments to evaluate their management approach towards Labor/Management Relations and ensure adherence of local labour laws?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f4_3" name="f4_3" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment4_3" placeholder="Comments / Risks / Opportunities identified" name="comment4_3"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception4_3" placeholder="Exceptions if any" name="exception4_3"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investee company have any incident reported for labour unrest in last 5 years?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f4_4" name="f4_4" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment4_4" placeholder="Comments / Risks / Opportunities identified" name="comment4_4"></textarea>
                    </div>
                    <di4 class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception4_4" placeholder="Exceptions if any" name="exception4_5"></textarea>
                    </di4>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">If Yes, was the incident appropriately handled and was in agreement with both parties?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f4_5" name="f4_5" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment4_5" placeholder="Comments / Risks / Opportunities identified" name="comment4_5"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception4_5" placeholder="Exceptions if any" name="exception4_5"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investee company provide safe working conditions for their labour </b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f4_6" name="f4_6" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment4_6" placeholder="Comments / Risks / Opportunities identified" name="comment4_6"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception4_6" placeholder="Exceptions if any" name="exception4_6"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does investee company report information whether it ensures regular servicing of proper safety equipments  </b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f4_7" name="f4_7" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment4_7" placeholder="Comments / Risks / Opportunities identified" name="comment4_7"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception4_7" placeholder="Exceptions if any" name="exception4_7"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does investee company report information whether employee awareness programs are conducted to teach them about usage of safety measures </b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f4_8" name="f4_8" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment4_8" placeholder="Comments / Risks / Opportunities identified" name="comment4_8"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception4_8" placeholder="Exceptions if any" name="exception4_8"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does investee company report information about total number of incidents of non-compliance with regulations and/or voluntary codes concerning the health and safety impacts of products and services within the reporting period</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f4_9" name="f4_9" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment4_9" placeholder="Comments / Risks / Opportunities identified" name="comment4_9"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception4_9" placeholder="Exceptions if any" name="exception4_9"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does investee company report information about incidents of non-compliance with regulations resulting in a fine or penalty</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f4_10" name="f4_10" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2"style="" class="form-control" id="comment4_10" placeholder="Comments / Risks / Opportunities identified" name="comment4_10"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception4_10" placeholder="Exceptions if any" name="exception4_10"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does investee company report information about incidents of non-compliance with regulations resulting in a warning</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f4_11" name="f4_11" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment4_11" placeholder="Comments / Risks / Opportunities identified" name="comment4_11"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception4_11" placeholder="Exceptions if any" name="exception4_11"></textarea>
                    </div>
                </div>
            </div>

            <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
                <div class="row mb-1" >
                    <center><h2 style="color:Black; font-size:17px">Evaluation Criteria (as per Article 2(17) of SFDR): <b>Investment in Human Capital</b></h2></center>
                </div>
            </div>
            <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
                <div  style="padding:2px">
                    <h4><strong  style="color:Black; margin-left:80px; font-size:18px">Question</strong><strong  style="color:Black; margin-left:240px; font-size:18px">Yes | No | N/A*</strong><strong  style="color:Black; margin-left:140px; font-size:18px">Comments</strong><strong  style="color:Black; margin-left:170px; font-size:18px">Exception</strong></h4>
                </div>
            </div>
            <div class="form-group" style="padding-top:10px;">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investee company has a HR policy with clearly defined roles and responsibility of workers/employees and conditions of employment?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f5_1" name="f5_1" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment5_1" placeholder="Comments / Risks / Opportunities identified" name="comment5_1"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception5_1" placeholder="Exceptions if any" name="exception5_1"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">If Yes, does the  investee company have human resources education and training policy?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f5_2" name="f5_2" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2"style="" class="form-control" id="comment5_2" placeholder="Comments / Risks / Opportunities identified" name="comment5_2"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception5_2" placeholder="Exceptions if any" name="exception5_2"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Have they collected records of capital investment made towards education and training during last 5 years?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f5_3" name="f5_3" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment5_3" placeholder="Comments / Risks / Opportunities identified" name="comment5_3"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception5_3" placeholder="Exceptions if any" name="exception5_3"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Have they maintained records of placement of human resources to work areas due to their upskilling?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f5_4" name="f5_4" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment5_4" placeholder="Comments / Risks / Opportunities identified" name="comment5_4"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception5_4" placeholder="Exceptions if any" name="exception5_4"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Have they maintained records of grievance redressal mechanism?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f5_5" name="f5_5" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment5_5" placeholder="Comments / Risks / Opportunities identified" name="comment5_5"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception5_5" placeholder="Exceptions if any" name="exception5_5"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">If Yes, have they recorded any such instance in last 5 years?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f5_6" name="f5_6" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment5_6" placeholder="Comments / Risks / Opportunities identified" name="comment5_6"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception5_6" placeholder="Exceptions if any" name="exception5_6"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investee company have adequal policies on overtime, maternity/paternity leave, sick leave and other disabilities?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f5_7" name="f5_7" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment5_7" placeholder="Comments / Risks / Opportunities identified" name="comment5_7"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception5_7" placeholder="Exceptions if any" name="exception5_7"></textarea>
                    </div>
                </div>
            </div>

            <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
                <div class="row mb-1">
                    <center><h2 style="color:Black; font-size:17px">Evaluation Criteria (as per Article 2(17) of SFDR): <b>Economically or Socially Disadvantaged Communities</b></h2></center>
                </div>
            </div>
            <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
                <div  style="padding:2px">
                    <h4><strong  style="color:Black; margin-left:80px; font-size:18px">Question</strong><strong  style="color:Black; margin-left:240px; font-size:18px">Yes | No | N/A*</strong><strong  style="color:Black; margin-left:140px; font-size:18px">Comments</strong><strong  style="color:Black; margin-left:170px; font-size:18px">Exception</strong></h4>
                </div>
            </div>
            <div class="form-group" style="padding-top:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investee company have any health and safety risks for local communities located in the place of establishment or consumers who are located in the place of establishment or consumers using company's products?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f6_1" name="f6_1" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment6_1" placeholder="Comments / Risks / Opportunities identified" name="comment6_1"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception6_1" placeholder="Exceptions if any" name="exception6_1"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">If yes, have they managed this satisfactorily without any disputes?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f6_2" name="f6_2" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment6_2" placeholder="Comments / Risks / Opportunities identified" name="comment6_2"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception6_2" placeholder="Exceptions if any" name="exception6_2"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Have they promoted social causes for communities residing in the place of establishment?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f6_3" name="f6_3" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment6_3" placeholder="Comments / Risks / Opportunities identified" name="comment6_3"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception6_3" placeholder="Exceptions if any" name="exception6_3"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Have they worked towards creating employment generation for disadvantaged communities?</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="f6_4" name="f6_4" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment6_4" placeholder="Comments / Risks / Opportunities identified" name="comment6_4"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception6_4" placeholder="Exceptions if any" name="exception6_4"></textarea>
                    </div>
                </div>
            </div>

            <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
                <div class="row mb-1">
                    <center><h2 style="color:Black; font-size:17px">Evaluation Criteria (as per Article 2(17) of SFDR): <b>Others - Supply Chain Management</b></h2></center>
                </div>
            </div>
            <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
                <div  style="padding:2px">
                    <h4><strong  style="color:Black; margin-left:80px; font-size:18px">Question</strong><strong  style="color:Black; margin-left:240px; font-size:18px">Yes | No | N/A*</strong><strong  style="color:Black; margin-left:140px; font-size:18px">Comments</strong><strong  style="color:Black; margin-left:170px; font-size:18px">Exception</strong></h4>
                </div>
            </div>
            <div class="form-group" style="padding-top:10px">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Does the investee company ensure that their supplier follows health and safety standards for its workers/employees from which they procure raw materials?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f7_1" name="f7_1" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment7_1" placeholder="Comments / Risks / Opportunities identified" name="comment7_1"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception7_1" placeholder="Exceptions if any" name="exception7_1"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">If yes, have they influenced their supplier for promoting good health and safety measures for their employees?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f7_2" name="f7_2" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment7_2" placeholder="Comments / Risks / Opportunities identified" name="comment7_2"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception7_2" placeholder="Exceptions if any" name="exception7_2"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">If yes, can the results of this be quantified and reported?</b></label>
                    <div class="col-sm-2">
                        <select type="text" style="" class="form-select" id="f7_3" name="f7_3" required><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">Yes</option>
                            <option value="1">No</option>
                            <option value="NA">N/A</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="comment7_3" placeholder="Comments / Risks / Opportunities identified" name="comment7_3"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" style="" class="form-control" id="exception7_3" placeholder="Exceptions if any" name="exception7_3"></textarea>
                    </div>
                </div>
            </div>
            <div style="margin-bottom:4px">
                <button class="btn btn-primary" type="reset" style="margin-left:950px">Reset</button><a href="#"><button style="margin-left:20px" type="submit" class="btn btn-primary">Next</button></a>
            </div>
            <!--            </div>-->
        </form>
    </div>
    </div>
</main>
<!-- End #main -->
{% endblock %}

</body>

</html>