{% extends 'base2.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<div style="margin-top:40px">
</div>
<link href="static/assets/css/style.css" rel="stylesheet">
<main id="main">
    <button type="button" onclick="history.back()" style="display: none;" id="back-btn"></button>
    <a href="#" style="color:white"><img src="static/assets/img/Icon.png" onclick="document.getElementById('back-btn').click()" alt="Back"/>Back</a>
    <a href="#" ><i style="font-size:12px; color:red; margin-left:760px">To understand score interpretations click down arrow <img src="static/assets/img/icon-right-inside.png" > button</i></a>
    <!-- Form Name -->
    <div class="container" style="background-color: rgba(245, 245, 248, 0.7); padding:10px; height: auto">
        <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
            <div  style="background-color:rgba(149, 230, 22, 0.7); width:1100px;">
                <h2 style="color:black; font-size:23px"><b>Social Scoring</b><h style="font-size: 15px; margin-left:350px">Score(0:Unsatisfactory,1:Needs improvement, 2:Good, 3:Very Good, 4:Excellent) </h></h2>
            </div>
        </div>
        <div class="container text-white; rounded" style="background-color:rgba(149, 230, 22, 0.7);">
            <div  style="padding:2px">
                <h4><strong  style="color:Black;  font-size:18px">Evaluation Criteria</strong><strong style="color:Black; margin-left:250px; font-size:18px">Score</strong><strong  style="color:Black; margin-left:150px; font-size:18px">Comments</strong><strong  style="color:Black; margin-left:170px; font-size:18px">Exceptions</strong></h4>
            </div>
        </div>

        <script type="text/javascript">

        window.onload = function(){
                console.log('inside the function')
                var value_dict = {{value_dict|safe}}
                console.log(value_dict)

                if(document.getElementsByName('inequality').value == null){
                document.forms['social_screening']['inequality'].value = value_dict.inequality;
                }
                if(document.getElementsByName('social_cohesion').value == null){
                document.forms['social_screening']['social_cohesion'].value = value_dict.social_cohesion;
                }
                if(document.getElementsByName('social_integration').value == null){
                document.forms['social_screening']['social_integration'].value = value_dict.social_integration;
                }
                if(document.getElementsByName('labour_relations').value == null){
                document.forms['social_screening']['labour_relations'].value = value_dict.labour_relations;
                }
                if(document.getElementsByName('investment_human_capital').value == null){
                document.forms['social_screening']['investment_human_capital'].value = value_dict.investment_human_capital;
                }
                if(document.getElementsByName('economically_socially_communities').value == null){
                document.forms['social_screening']['economically_socially_communities'].value = value_dict.economically_socially_communities;
                }
                if(document.getElementsByName('supply_chain_management').value == null){
                document.forms['social_screening']['supply_chain_management'].value = value_dict.supply_chain_management;
                }
                console.log("Value replaced successfully")
        }

        function toggleInput1() {
                            var energy_and_renewable_energy = document.getElementById("inequality");
                            var Asset1 = document.getElementById("Asset1");
                            Asset1.style.display = energy_and_renewable_energy.value == "0" ? "block" : "none";
                            var social_cohesion = document.getElementById("social_cohesion");
                            var Asset2 = document.getElementById("Asset2");
                            Asset2.style.display = social_cohesion.value == "0" ? "block" : "none";
                            var social_integration = document.getElementById("social_integration");
                            var Asset3 = document.getElementById("Asset3");
                            Asset3.style.display = social_integration.value == "0" ? "block" : "none";
                            var labour_relations = document.getElementById("labour_relations");
                            var Asset4 = document.getElementById("Asset4");
                            Asset4.style.display = labour_relations.value == "0" ? "block" : "none";
                            var investment_human_capital = document.getElementById("investment_human_capital");
                            var Asset5 = document.getElementById("Asset5");
                            Asset5.style.display = investment_human_capital.value == "0" ? "block" : "none";
                            var economically_socially_communities = document.getElementById("economically_socially_communities");
                            var Asset6 = document.getElementById("Asset6");
                            Asset6.style.display = economically_socially_communities.value == "0" ? "block" : "none";
                            var supply_chain_management = document.getElementById("supply_chain_management");
                            var Asset7 = document.getElementById("Asset7");
                            Asset7.style.display = supply_chain_management.value == "0" ? "block" : "none";

                        }
            function toggleText(){
                var myText=document.getElementById("info");
                var displaySetting=myText.style.display;

                if(displaySetting == 'none'){
                    myText.style.display='block';
                }
                else{
                    myText.style.display='none';
                }
            }
            function toggleText1(){
                var myText=document.getElementById("info1");
                var displaySetting=myText.style.display;

                if(displaySetting == 'none'){
                    myText.style.display='block';
                }
                else{
                    myText.style.display='none';
                }
            }
            function toggleText2(){
                var myText=document.getElementById("info2");
                var displaySetting=myText.style.display;

                if(displaySetting == 'none'){
                    myText.style.display='block';
                }
                else{
                    myText.style.display='none';
                }
            }
            function toggleText3(){
                var myText=document.getElementById("info3");
                var displaySetting=myText.style.display;

                if(displaySetting == 'none'){
                    myText.style.display='block';
                }
                else{
                    myText.style.display='none';
                }
            }
            function toggleText4(){
                var myText=document.getElementById("info4");
                var displaySetting=myText.style.display;

                if(displaySetting == 'none'){
                    myText.style.display='block';
                }
                else{
                    myText.style.display='none';
                }
            }
            function toggleText5(){
                var myText=document.getElementById("info5");
                var displaySetting=myText.style.display;

                if(displaySetting == 'none'){
                    myText.style.display='block';
                }
                else{
                    myText.style.display='none';
                }
            }
            function toggleText6(){
                var myText=document.getElementById("info6");
                var displaySetting=myText.style.display;

                if(displaySetting == 'none'){
                    myText.style.display='block';
                }
                else{
                    myText.style.display='none';
                }
            }
            function toggleText7(){
                var myText=document.getElementById("info7");
                var displaySetting=myText.style.display;

                if(displaySetting == 'none'){
                    myText.style.display='block';
                }
                else{
                    myText.style.display='none';
                }
            }

      </script>

        <form method="POST" class="form-horizontal" action="social_screening">
            {% csrf_token %}
            <div class="form-group" style="padding-top:10px" id="Asset1">
                <div class="row mb-4">
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D;">Inequality</b></label>
                    <div class="col-sm-2">
                        <select  type="text" class="form-select" id="inequality" name="inequality" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="s_comment1" placeholder="Comments / Risks / Opportunities identified" name="s_comment1"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception1" placeholder="Exceptions if any" name="exception1"></textarea>
                    </div>
                    <div>
                        <a href="#"><img src="static/assets/img/icon-right-inside.png" onclick="toggleText()" alt="Info"><i style="font-size:12px">To understand score interpretations click down arrow button</i></a>
                    </div>
                    <div id="info" style="display:none">
                        <table class="table table-bordered" style="margin-bottom: 10px; border: 1px solid black; font-size: 12px">
                            <tbody>
                            <tr>
                                <th scope="row" class="table-active">0</th>
                                <th scope="row" class="table-active">1</th>
                                <th scope="row" class="table-active">2</th>
                                <th scope="row" class="table-active">3</th>
                                <th scope="row" class="table-active">4</th>
                            </tr>
                            <tr>
                                <td>No company does not consider Non-discrimination as a material topic</td>
                                <td>Yes, it does consider Non-discrimination as a material topic but does not have set policies/strategies/goals/responsibilities for handling the Non-discrimination</td>
                                <td>Yes, it does consider Non-discrimination as a material topic and has set policies/strategies/goals/responsibilities for handling the Non-discrimination</td>
                                <td>Yes, it does consider Non-discrimination as a material topic and has set policies/strategies/goals/responsibilities for handling the Non-discrimination and is apprpriately recorded and reported as per local laws</td>
                                <td>Yes, it does consider Non-discrimination as a material topic and has set policies/strategies/goals/responsibilities for handling the Non-discrimination and is apprpriately recorded and reported as per local laws and  has started yielding results in terms of evolution of efficient methods and processes</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group" id="Asset2">
                <div class="row mb-4" >
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Social cohesion</b></label>
                    <div class="col-sm-2" >
                        <select type="text" class="form-select" id="social_cohesion" name="social_cohesion" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="s_comment2" placeholder="Comments / Risks / Opportunities identified" name="s_comment2"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="exception2" placeholder="Exceptions if any" name="exception2"></textarea>
                    </div>
                    <div>
                        <button type="button" onclick="toggleText1()" style="display: none;" id="info-btn1"></button>
                        <a><img src="static/assets/img/icon-right-inside.png" onclick="document.getElementById('info-btn1').click()" alt="Info"></a>
                    </div>
                    <div id="info1" style="display:none">
                        <table class="table table-bordered" style="margin-bottom: 10px; border: 1px solid black; font-size: 12px">
                            <tbody>
                            <tr>
                                <th scope="row" class="table-active">0</th>
                                <th scope="row" class="table-active">1</th>
                                <th scope="row" class="table-active">2</th>
                                <th scope="row" class="table-active">3</th>
                                <th scope="row" class="table-active">4</th>
                            </tr>
                            <tr>
                                <td>No company does not consider Social Cohesion as a material topic</td>
                                <td>Yes, it does consider Social cohesion as a material topic but does not have set policies/strategies/goals/responsibilities for handling the Non-discrimination</td>
                                <td>Yes, it does consider Social cohesion as a material topic and has set policies/strategies/goals/responsibilities for handling the Non-discrimination</td>
                                <td>Yes, it does consider Social cohesion as a material topic and has set policies/strategies/goals/responsibilities for handling Social Cohesion and is appropriately recorded and reported as per local laws</td>
                                <td>Yes, it does consider Social cohesion as a material topic and has set policies/strategies/goals/responsibilities for handling the Social cohesionand is appropriately recorded and reported as per local laws and has started yielding results in terms of evolution of efficient methods and processes</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group" id="Asset3">
                <div class="row mb-4" >
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Social integration</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="social_integration" name="social_integration" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="s_comment3" placeholder="Comments / Risks / Opportunities identified" name="s_comment3"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="exception3" placeholder="Exceptions if any" name="exception3"></textarea>
                    </div>
                    <div>
                        <button type="button" onclick="toggleText2()" style="display: none;" id="info-btn2"></button>
                        <a><img src="static/assets/img/icon-right-inside.png" onclick="document.getElementById('info-btn2').click()" alt="Info"></a>
                    </div>
                    <div id="info2" style="display:none">
                        <table class="table table-bordered" style="margin-bottom: 10px; border: 1px solid black; font-size: 12px">
                            <tbody>
                            <tr>
                                <th scope="row" class="table-active">0</th>
                                <th scope="row" class="table-active">1</th>
                                <th scope="row" class="table-active">2</th>
                                <th scope="row" class="table-active">3</th>
                                <th scope="row" class="table-active">4</th>
                            </tr>
                            <tr>
                                <td>No, company does not consider Social integration as a material topic</td>
                                <td>Yes, it does consider Social integration as a material topic but does not have set policies/strategies/goals/responsibilities for handling Social Cohesion</td>
                                <td>Yes, it does consider Social integration as a material topic but does not have set policies/strategies/goals/responsibilities for handling Social Cohesion</td>
                                <td>Yes, it does consider Social integration as a material topic and has set policies/strategies/goals/responsibilities for handling Social Cohesion</td>
                                <td>Yes, it does consider Social integration as a material topic and has set policies/strategies/goals/responsibilities for handling the Social integration and is appropriately recorded and reported as per local laws and has started yielding results in terms of evolution of efficient methods and processes</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group" id="Asset4">
                <div class="row mb-4" >
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Labour relations</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="labour_relations" name="labour_relations" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="s_comment4" placeholder="Comments / Risks / Opportunities identified" name="s_comment4"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" class="form-control" id="exception4" placeholder="Exceptions if any" name="exception4"></textarea>
                    </div>
                    <div>
                        <button type="button" onclick="toggleText3()" style="display: none;" id="info-btn3"></button>
                        <a><img src="static/assets/img/icon-right-inside.png" onclick="document.getElementById('info-btn3').click()" alt="Info"></a>
                    </div>
                    <div id="info3" style="display:none">
                        <table class="table table-bordered" style="margin-bottom: 10px; border: 1px solid black; font-size: 12px">
                            <tbody>
                            <tr>
                                <th scope="row" class="table-active">0</th>
                                <th scope="row" class="table-active">1</th>
                                <th scope="row" class="table-active">2</th>
                                <th scope="row" class="table-active">3</th>
                                <th scope="row" class="table-active">4</th>
                            </tr>
                            <tr>
                                <td>No, company does not consider Labour relations as a material topic</td>
                                <td>Yes, it does consider Labour relations as a material topic but does not have set policies/strategies/goals/responsibilities for handling the Non-discrimination</td>
                                <td>Yes, it does considerLabour relations as a material topic and has set policies/strategies/goals/responsibilities for handling the Non-discrimination</td>
                                <td>Yes, it does consider Labour relations as a material topic and has set policies/strategies/goals/responsibilities for handling Labour relations and is appropriately recorded and reported as per  laws</td>
                                <td>Yes, it does consider Labour relations as a material topic and has set policies/strategies/goals/responsibilities for handling Labour relations and is appropriately recorded and reported as per  laws and has started yielding results in terms of evolution of efficient methods and processes</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group" id="Asset5">
                <div class="row mb-4" >
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Investment in human capital</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="investment_human_capital" name="investment_human_capital" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="s_comment5" placeholder="Comments / Risks / Opportunities identified" name="s_comment5"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="exception5" placeholder="Exceptions if any" name="exception5"></textarea>
                    </div>
                    <div>
                        <button type="button" onclick="toggleText4()" style="display: none;" id="info-btn4"></button>
                        <a><img src="static/assets/img/icon-right-inside.png" onclick="document.getElementById('info-btn4').click()" alt="Info"></a>
                    </div>
                    <div id="info4" style="display:none">
                        <table class="table table-bordered" style="margin-bottom: 10px; border: 1px solid black; font-size: 12px">
                            <tbody>
                            <tr>
                                <th scope="row" class="table-active">0</th>
                                <th scope="row" class="table-active">1</th>
                                <th scope="row" class="table-active">2</th>
                                <th scope="row" class="table-active">3</th>
                                <th scope="row" class="table-active">4</th>
                            </tr>
                            <tr>
                                <td>The company considers Human Rights as a material topic but does not have any set policies/strategies/goals/responsibilities for it.</td>
                                <td>The company has set policies/strategies/goals/responsibilities and formally trains employees in organization’s human rights policies, Or, includes human right clauses in significant investment agreements and contracts.</td>
                                <td>The company has set policies/strategies/goals/responsibilities and formally trains employees in organization’s human rights policies, and, includes human right clauses in significant investment agreements & contracts.</td>
                                <td>The company has set policies/strategies/goals/responsibilities and formally trains employees in organization’s human rights policies, and, includes human right clauses in significant investment agreements & contracts, and, has strategic and quantifiable target goals which they have achieved in previous period.</td>
                                <td>The company has set policies/strategies/goals/responsibilities and formally trains employees in organization’s human rights policies, and, includes human right clauses in significant investment agreements & contracts, and, has strategic and quantifiable target goals which they have achieved in previous period and has started yielding results in terms of evolution of efficient methods and processes</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group" id="Asset6">
                <div class="row mb-4" >
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Economically or socially disadvantaged communities</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="economically_socially_communities" name="economically_socially_communities" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="s_comment6" placeholder="Comments / Risks / Opportunities identified" name="s_comment6"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="exception6" placeholder="Exceptions if any" name="exception6"></textarea>
                    </div>
                    <div>
                        <button type="button" onclick="toggleText5()" style="display: none;" id="info-btn5"></button>
                        <a><img src="static/assets/img/icon-right-inside.png" onclick="document.getElementById('info-btn5').click()" alt="Info"></a>
                    </div>
                    <div id="info5" style="display:none">
                        <table class="table table-bordered" style="margin-bottom: 10px; border: 1px solid black; font-size: 12px">
                            <tbody>
                            <tr>
                                <th scope="row" class="table-active">0</th>
                                <th scope="row" class="table-active">1</th>
                                <th scope="row" class="table-active">2</th>
                                <th scope="row" class="table-active">3</th>
                                <th scope="row" class="table-active">4</th>
                            </tr>
                            <tr>
                                <td>No, company does not consider working for Economically or socially disadvantaged communities as a material topic</td>
                                <td>Yes, it does consider working for Economically or socially disadvantaged communities as a material topic but does not have set policies/strategies/goals/responsibilities for handling the Non-discrimination</td>
                                <td>Yes, it does consider working for Economically or socially disadvantaged communities as a material topic and has set policies/strategies/goals/responsibilities for handling the Non-discrimination</td>
                                <td>Yes, it does consider working for Economically or socially disadvantaged communities as a material topic and has set policies/strategies/goals/responsibilities for handling working for Economically or socially disadvantaged communities and is appropriately recorded and reported as per  laws</td>
                                <td>Yes, it does consider working for Economically or socially disadvantaged communities as a material topic and has set policies/strategies/goals/responsibilities for handling working for Economically or socially disadvantaged communities and is appropriately recorded and reported as per  laws and has started yielding results in terms of evolution of efficient methods and processes</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group" id="Asset7">
                <div class="row mb-4" >
                    <label class="control-label col-sm-4" ><b style="color:#2B0A3D; font-size:12px">Others - Supply chain management</b></label>
                    <div class="col-sm-2">
                        <select type="text" class="form-select" id="supply_chain_management_s" name="supply_chain_management_s" ><i data-tags="arrow right-angle" data-categories="arrows"></i>
                            <option value=""></option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="NA">NA</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="s_comment7" placeholder="Comments / Risks / Opportunities identified" name="s_comment7"></textarea>
                    </div>
                    <div class="col-sm-3">
                        <textarea rows="2" type="text" class="form-control" id="exception7" placeholder="Exceptions if any" name="exception7"></textarea>
                    </div>
                    <div>
                        <button type="button" onclick="toggleText6()" style="display: none;" id="info-btn6"></button>
                        <a><img src="static/assets/img/icon-right-inside.png" onclick="document.getElementById('info-btn6').click()" alt="Info"></a>
                    </div>
                    <div id="info6" style="display:none">
                        <table class="table table-bordered" style="margin-bottom: 10px; border: 1px solid black; font-size: 12px">
                            <tbody>
                            <tr>
                                <th scope="row" class="table-active">0</th>
                                <th scope="row" class="table-active">1</th>
                                <th scope="row" class="table-active">2</th>
                                <th scope="row" class="table-active">3</th>
                                <th scope="row" class="table-active">4</th>
                            </tr>
                            <tr>
                                <td>No, company does not consider keeping tab on Others - Supply chain management counterparties as a material topic</td>
                                <td>Yes, it does consider tab on Others - Supply chain management counterpartie as a material topic but does not have set policies/strategies/goals/responsibilities for handling the Non-discrimination</td>
                                <td>Yes, it does consider tab on Others - Supply chain management counterpartie as a material topic and has set policies/strategies/goals/responsibilities for handling the Non-discrimination</td>
                                <td>Yes, it does consider tab on Others - Supply chain management counterpartie as a material topic and has set policies/strategies/goals/responsibilities for handling tab on Others - Supply chain management counterpartie and is appropriately recorded and reported as per  laws</td>
                                <td>Yes, it does consider tab on Others - Supply chain management counterpartie as a material topic and has set policies/strategies/goals/responsibilities for handling tab on Others - Supply chain management counterpartie and is appropriately recorded and reported as per  laws and has started yielding results in terms of evolution of efficient methods and processes</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div style="margin-bottom:4px">
                <button class="btn btn-primary" type="reset" style="margin-left:950px">Reset</button><a href="#"><button style="margin-left:20px" type="submit" class="btn btn-primary">Next</button></a>
            </div>
            <!--            </div>-->
        </form>
    </div>
    </div>
</main>
<!-- End #main -->
{% endblock %}

</body>

</html>



